<div class="poc-form">
    <form #pocForm="ngForm"  novalidate>
    <label for="asm_email">ASM</label>
    <input 
        type="email"
        required
        name="asm_email"
        [(ngModel)]="this.site.ASM"
        #asm_email="ngModel"
    ><br>
    <label for="rsm_email">RSM</label>
    <input 
        type="email"
        required
        name="rsm_email"
        [(ngModel)]="this.site.RSM"
        #rsm_email="ngModel"
    ><br>
    <label for="gar">General Alarm Responder</label>
        <select name="gar" id="method-of-contact"[(ngModel)]="this.GAR.poc_type" #gar="ngModel" class="form-control form-control-sm col-4" >
         <option value="null">Choose POC Method</option>
         <option value="email">Email</option>
         <option value="cell">Cell Number</option>
         <option value="office">Office Number</option>
        </select>
    <label for="poc_value">Email/Phone</label><input (keyup.enter)="addGAR()" class="form-control col-5" type="text"  name="poc_value" [(ngModel)]="this.GAR.poc_value" #poc_value="ngModel"><br>




<div class="form-check form-check-inline">
  <input
  class="form-check-input radio"
  type="radio"
  id="bh_check"
  name="hours"
  required
  [(ngModel)]="this.GAR.available.bh"
  [value]="false">
  <label class="form-check-label" id="checkboxlabel" for="inlineCheckbox">Available Business Hours</label>
</div>

<div class="form-check form-check-inline">
  <input
  class="form-check-input radio"
  type="radio"
  id="ah_check"
  name="hours"
  required
  [(ngModel)]="this.GAR.available.ah"
  [value]="true">
  <label class="form-check-label" id="checkboxlabel" for="inlineCheckbox">Available After Hours</label>
</div>
<i class="fa fa-plus" aria-hidden="true" (click)="addGAR()"></i><br>
<table class="table table-sm gar-list" *ngIf="site.pocs.size > 0">
    <tr>
        <th>Order of contact</th>
        <th>Method of contact</th>
        <th>Number/Email</th>
        <th></th>
    </tr>
    <tr *appWhile="site.pocs,let contact" ondragstart="dragStart($event)" draggable="true">
        <td>{{contact.order}}</td>
        <td>{{contact.poc_type}}</td>
        <td>{{contact.poc_value}}</td>
        <i class="fa fa-window-close" aria-hidden="true" (click)="removeGAR(contact)"></i>

    </tr>
</table>
    
    <button [disabled]="!pocForm.form.valid" class="nextPage btn btn-primary" (click)="toConfirm()">Continue</button>
</form>

</div>