<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/sites/new']">New Site</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/alarms/dispatch']">Alarm Dispatch</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/alarms/dispatch']">Pending Alarms</a>
      </li>
    </ul>
  </div>
</nav>
<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Site Code</th>
      <th scope="col">Site Name</th>
      <th scope="col">Region</th>
      <th scope="col">Address</th>
      <th scope="col">Latitude</th>
      <th scope="col">Longitude</th>
      <th scope="col">ASM</th>
      <th scope="col">RSM</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>