
<div class="site-form-container">
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="border col-sm-3" [ngClass]="{orange:pages['general_info'], 'tabs':true}" (click)="swicthPages('general_info')">General Info</div>
  <div class="border col-sm-3" [ngClass]="{orange:pages['address'],'tabs':true}" (click)="swicthPages('address')">Address</div>
  <div class="border col-sm-3" [ngClass]="{orange:pages['poc'], 'tabs':true}" (click)="swicthPages('poc')">POC</div>
  <div class="border col-sm-3" [ngClass]="{orange:pages['confirm'], 'tabs':true}" (click)="swicthPages('confirm')">Confirm</div>
</nav>

<div class="site-form-content">
 <h1 class="form-title">New Site</h1>

<!--General Site info-->

<form #siteForm="ngForm" novalidate *ngIf="pages.general_info">
 <div class="form-group form-group-sm">
   <label for="site_name">Site Name</label>
   <input
     type="text"
     required
     class="form-control"
     id="site_name"
     name="site_name"
     [(ngModel)]="site.site_name"
     #site_name="ngModel"
     placeholder="Enter Site Name">
 </div>
 <div class="form-group">
   <label for="site_code">Site Code</label>
   <input
     type="text"
     required
     class="form-control"
     id="site_code"
     name="site_code"
     [(ngModel)]="site.site_code"
     #site_code="ngModel"
     placeholder="Enter Site Code">
 </div>

 <p>Site Monitored?</p>
 <div class="form-check form-check-inline">
  <input
  class="form-check-input radio"
  type="radio"
  id="inlineCheckbox1"
  name="monitored_zone"
  required
  [(ngModel)]="site.monitored_zone"
  #monitored_zone="ngModel"
  value="1">
  <label class="form-check-label" id="checkboxlabel" for="inlineCheckbox">Yes</label>
</div>

<div class="form-check form-check-inline">
  <input
  class="form-check-input radio"
  type="radio"
  id="inlineCheckbox2"
  name="monitored_zone"
  required
  [(ngModel)]="site.monitored_zone"
  #monitored_zone="ngModel"
  [value]="0">
  <label class="form-check-label" id="checkboxlabel" for="inlineCheckbox">No</label>
</div>
<br>


<div class="weekDays-selector">
    <p>Select Business Days</p>
  
  <div class="day-time">
      <input type="checkbox" id="weekday-mon" class="weekday" (click)="dayClicked(1)"/>
      <label for="weekday-mon" >M</label>
      <i class="fa fa-sun-o col col-3" aria-hidden="true" *ngIf="site.business_days[1].active" (click)="open(1,'start')"></i>
      <i class="fa fa-moon-o col col-3" aria-hidden="true" *ngIf="site.business_days[1].active" (click)="open(1,'end')"></i>
  </div>
  <div class="day-time">
      <input type="checkbox" id="weekday-tue" class="weekday" (click)="dayClicked(2)"/>
      <label for="weekday-tue">T</label>
       <i class="fa fa-sun-o col col-3" aria-hidden="true" *ngIf="site.business_days[2].active" (click)="open(2,'start')"></i>
      <i class="fa fa-moon-o col col-3" aria-hidden="true" *ngIf="site.business_days[2].active" (click)="open(2,'end')"></i>
 
  </div>
  
  <div class="day-time">
       <input type="checkbox" id="weekday-wed" class="weekday" (click)="dayClicked(3)"/>
       <label for="weekday-wed">W</label>
       <i class="fa fa-sun-o col col-3" aria-hidden="true" *ngIf="site.business_days[3].active" (click)="open(3,'start')"></i>
      <i class="fa fa-moon-o col col-3" aria-hidden="true" *ngIf="site.business_days[3].active" (click)="open(3,'end')"></i>
  </div>
 
  <div class="day-time">
      <input type="checkbox" id="weekday-thu" class="weekday" (click)="dayClicked(4)"/>
      <label for="weekday-thu">T</label>
      <i class="fa fa-sun-o col col-3" aria-hidden="true" *ngIf="site.business_days[4].active" (click)="open(4,'start')"></i>
      <i class="fa fa-moon-o col col-3" aria-hidden="true" *ngIf="site.business_days[4].active" (click)="open(4,'end')"></i>
  </div>
  
  <div class="day-time">
      <input type="checkbox" id="weekday-fri" class="weekday" (click)="dayClicked(5)"/>
      <label for="weekday-fri">F</label>
     <i class="fa fa-sun-o col col-3" aria-hidden="true" *ngIf="site.business_days[5].active" (click)="open(5,'start')"></i>
     <i class="fa fa-moon-o col col-3" aria-hidden="true" *ngIf="site.business_days[5].active" (click)="open(5,'end')"></i>
      
  </div>
  
  <div class="day-time">
      <input type="checkbox" id="weekday-sat" class="weekday" (click)="dayClicked(6)"/>
      <label for="weekday-sat">S</label>
      <i class="fa fa-sun-o col col-3" aria-hidden="true" *ngIf="site.business_days[6].active" (click)="open(6,'start')"></i>
      <i class="fa fa-moon-o col col-3" aria-hidden="true" *ngIf="site.business_days[6].active" (click)="open(6,'end')"></i>
  </div>
  
  <div class="day-time">
      <input type="checkbox" id="weekday-sun" class="weekday" (click)="dayClicked(0)" />
      <label for="weekday-sun">S</label>
      <i class="fa fa-sun-o col col-3" aria-hidden="true" *ngIf="site.business_days[0].active" (click)="open(0,'start')"></i>
      <i class="fa fa-moon-o col col-3" aria-hidden="true" *ngIf="site.business_days[0].active" (click)="open(0,'end')"></i>
  </div>
  
 
</div>
<ul>
    <li *ngIf="site.business_days[1].active">Mon ~ <strong>Start: {{site.business_days[1].start || 'N/A'}} - End:  {{site.business_days[1].end || 'N/A'}}</strong></li>
     <li *ngIf="site.business_days[2].active">Tue ~ <strong>Start: {{site.business_days[2].start || 'N/A'}} - End: {{site.business_days[2].end ||'N/A'}}</strong></li>
     <li *ngIf="site.business_days[3].active">Wed ~ <strong>Start: {{site.business_days[3].start || 'N/A'}} - End: {{site.business_days[3].end ||'N/A'}}</strong></li>
     <li *ngIf="site.business_days[4].active">Thu ~ <strong>Start: {{site.business_days[4].start || 'N/A'}} - End: {{site.business_days[4].end ||'N/A'}}</strong></li>
     <li *ngIf="site.business_days[5].active">Fri ~ <strong>Start: {{site.business_days[5].start || 'N/A'}} - End: {{site.business_days[5].end ||'N/A'}}</strong></li>
     <li *ngIf="site.business_days[6].active">Sat ~ <strong>Start: {{site.business_days[6].start ||'N/A'}} - End: {{site.business_days[6].end ||'N/A'}}</strong></li>
     <li *ngIf="site.business_days[0].active">Sun ~ <strong>Start: {{site.business_days[0].start ||'N/A'}} - End: {{site.business_days[0].end ||'N/A'}}</strong></li>
</ul>


<!--Quick set time for all business hours-->

<input id="check_business_hours" id="inlineCheckbox3" type="checkbox" (change)="checkBusinessHours()"><label for="">Quick set</label>
 <div class="day-time weekDays-selector" *ngIf="all_business">
      <i class="fa fa-sun-o col col-3" aria-hidden="true" *ngIf="site.business_days[5].active" (click)="open('all','start')"></i>
      <i class="fa fa-moon-o col col-3" aria-hidden="true" *ngIf="site.business_days[5].active" (click)="open('all','end')"></i>
  </div><br>


 <button [disabled]="!siteForm.form.valid" (click)="addSite()" class="btn btn-primary nextPage">Continue</button>
</form>

<app-address *ngIf="this.pages['address']"></app-address>

<app-poc *ngIf="this.pages['poc']"></app-poc>

</div>

</div>







