input{
    width: 70%;
}

form,.form-title{
   
    padding: 2%;
}

#inlineCheckbox1,#inlineCheckbox2,#inlineCheckbox3{
    width: 30px;
}

.site-form-content{
    margin-left: 10%;
}
.site-form-container{
    border: orange 1px solid;
     margin-left: 20%;
     width: 70%;
     height: 100%;
     overflow: scroll;
}

.form-check-label{
    margin-left: 30%;
}

.radio{
    width: 100px;
    border: 1px solid red;
}

.orange{
    border: .5px solid #fd5d00 ;
    background: #f7780f ;
}

.weekDays-selector input {
  display: none!important;
}
.weekDays-selector{
    margin-top: 4%;
}

.weekDays-selector input[type=checkbox] + label {
  display: block;
  border-radius: 6px;
  background: #dddddd;
  height: 40px;
  width: 30px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: #2AD705;
  color: #ffffff;
}


.day-time{
  display: inline-block; 
  width: 40px;
  margin-bottom: 30px;
}

i{
    margin: 0;
    padding: 4px;
    display: block;
    
}

#check_business_hours{
    width: 10%;
}

.fa-plus{
    display: inline;
}
.nextPage{
    position: relative;
    left: 80%;
}

.all_days_selected{
    background: #2AD705;
    color: #ffffff;
}

/*.form-group, h6,h1{*/
/*    margin-left: 5%;*/
/*}*/

