<div class="site-form-container">
 <h1 class="form-title">New Site</h1>

<form #siteForm="ngForm" novalidate>
 <div class="form-group form-group-sm">
   <label for="site_name">Site Name</label>
   <input
     type="text"
     required
     class="form-control"
     id="site_name"
     name="site_name"
     [(ngModel)]="site.site_name"
     #site_name="ngModel"
     placeholder="Enter Site Name">
 </div>
 <div class="form-group">
   <label for="site_code">Site Code</label>
   <input
     type="text"
     required
     class="form-control"
     id="site_code"
     name="site_code"
     [(ngModel)]="site.site_code"
     #site_code="ngModel"
     placeholder="Enter Site Code">
 </div>
 
 <p>Site Monitored?</p>
 <div class="form-check form-check-inline">
  <input
  class="form-check-input radio"
  type="radio"
  id="inlineCheckbox1"
  name="monitored_zone"
  required
  [(ngModel)]="site.monitored_zone"
  #monitored_zone="ngModel"
  value="1">
  <label class="form-check-label" for="inlineCheckbox1">Yes</label>
</div>

<div class="form-check form-check-inline">
  <input
  class="form-check-input radio"
  type="radio"
  id="inlineCheckbox"
  name="monitored_zone"
  required
  [(ngModel)]="site.monitored_zone"
  #monitored_zone="ngModel"
  [value]="0">
  <label class="form-check-label" for="inlineCheckbox1">No</label>
</div>
<br>
<br>
<h6>Address Section:</h6>
<h6>Address:</h6>
<div class="form-group">
   <label for="line_1">Line 1</label>
   <input
     type="text"
     required
     class="form-control"
     id="line_1"
     name="line_1"
     [(ngModel)]="address.line_1"
     #line_1="ngModel"
     placeholder="Enter Address">
 </div>
 <div class="form-group">
   <label for="line_2">Line 2</label>
   <input
     type="text"
     class="form-control"
     id="line_2"
     name="line_2"
     [(ngModel)]="address.line_2"
     #line_2="ngModel"
     placeholder="Address">
 </div>

<div class="form-group">
   <label for="line_3">Line 3</label>
   <input
     type="text"
     class="form-control"
     id="line_3"
     name="line_3"
     [(ngModel)]="address.line_3"
     #line_3="ngModel"
     placeholder="Address">
 </div>
 
 <div class="form-group">
   <label for="city">City</label>
   <input
     type="text"
     required
     class="form-control"
     id="city"
     name="city"
     [(ngModel)]="address.city"
     #city="ngModel"
     placeholder="City">
 </div>
 
 <div class="form-group">
   <label for="region">Region/State</label>
   <input
     type="text"
     required
     class="form-control"
     id="region"
     name="city"
     [(ngModel)]="address.region"
     #region="ngModel"
     placeholder="Enter Region/State">
 </div>
 
 <div class="form-group">
   <label for="country">Country</label>
   <input
     type="text"
     required
     class="form-control"
     id="country"
     name="country"
     [(ngModel)]="address.country"
     #country="ngModel"
     placeholder="Country">
 </div>
 
 <div class="form-group">
   <label for="zipcode">Zip Code</label>
   <input
     type="text"
     required
     class="form-control"
     id="zipcode"
     name="zipcode"
     [(ngModel)]="address.zipcode"
     #zipcode="ngModel"
     placeholder="Enter Zip Code">
 </div>
 
 <div class="form-group">
   <label for="latitude">Latitude</label>
   <input
     type="text"
     required
     class="form-control"
     id="latitude"
     name="latitude"
     [(ngModel)]="address.latitude"
     #latitude="ngModel"
     placeholder="Enter Latitude">
 </div>
 
 <div class="form-group">
   <label for="longitude">Longitude</label>
   <input
     type="text"
     required
     class="form-control"
     id="longitude"
     name="longitude"
     [(ngModel)]="address.longitude"
     #longitude="ngModel"
     placeholder="Enter Longitude">
 </div>

<div class="form-group">
   <label for="other_details">Other Details</label>
   <input
     type="text"
     class="form-control"
     id="other_details"
     name="other_details"
     [(ngModel)]="address.other_details"
     #other_details="ngModel"
     placeholder="Enter Other Details">
 </div>


 <button [disabled]="!siteForm.form.valid" (click)="addSite()" class="btn btn-primary">Submit</button>
</form>


</div>